In [ ]:
import pandas as pd
import numpy as np
import os
from statsmodels.tsa.arima_model import ARIMA
#from pandas.core import datetools

In [ ]:
df_stocks = pd.read_csv('stocks25.csv', index_col = 0)
df_stocks = df_stocks[df_stocks['Time Frame'] == '2w'].reset_index()
stocks = df_stocks['stockname']
stocks

0        BEL
1      CANBK
2    CGPOWER
Name: stockname, dtype: object

In [ ]:
predictions = pd.DataFrame(index = range(1000), columns = stocks)
predictions

stockname  BEL CANBK CGPOWER
0          NaN   NaN     NaN
1          NaN   NaN     NaN
2          NaN   NaN     NaN
3          NaN   NaN     NaN
4          NaN   NaN     NaN
..         ...   ...     ...
995        NaN   NaN     NaN
996        NaN   NaN     NaN
997        NaN   NaN     NaN
998        NaN   NaN     NaN
999        NaN   NaN     NaN

[1000 rows x 3 columns]

In [ ]:
temp = 0
predictions_all = None
check_empty = 1

In [ ]:
df = pd.read_csv("stock_data/" + stocks[0] +".csv", names = ('Dates', 'stockVWAP', 'futureVWAP', 'bidPrice', 'askPrice', 'total_value', 'total_size'))
rng = pd.date_range('2017-01-02 09:16:00', periods=1000, freq='60min')
df = df.iloc[0:60000]
df = df[df.index%60 == 0]
df_new = pd.DataFrame(df['stockVWAP'].values, index = rng)

for k in range(998, 1000):                        
    df_scan = df_new.iloc[:k]
    best_aic = np.inf
    best_order = None
    best_mdl = None
    pq_rng = range(4) # [0,1,2,3]
    d_rng = range(2) # [0,1]                        
    for i in pq_rng :
        for d in d_rng :
            for j in pq_rng :  
                try :
                    tmp_mdl = smt.ARIMA(df_scan, order=(i,d,j)).fit(trend='nc', disp = 0)
                    tmp_aic = tmp_mdl.aic
                    if tmp_aic < best_aic :
                        best_aic = tmp_aic
                        best_order = (i, d, j)
                        best_mdl = tmp_mdl
                except :
                    continue                                                             
    if best_mdl is None:                                 
        temp = temp + 1 
        print(1)                        
    else:
        
        predict = best_mdl.forecast(steps = 262, alpha = 0.01)[0]
        mean = np.mean(predict)
        threshold = np.std(predict)
        if (df_scan.iloc[k - 1, 0] > mean + threshold):
            predictions.iloc[k, 0] = 0
        elif (df_scan.iloc[k - 1, 0] < mean - threshold):
            predictions.iloc[k, 0] = 1 
        else:
            predictions.iloc[k, 0] = 0.5      
                
predictions_new = pd.DataFrame(predictions)
print(predictions_new)
predictions_new.to_csv("predictions_2w(14d).csv")
print("predictions_2w(14d).csv" + " Ready!!!")

1
1
stockname  BEL CANBK CGPOWER
0          NaN   NaN     NaN
1          NaN   NaN     NaN
2          NaN   NaN     NaN
3          NaN   NaN     NaN
4          NaN   NaN     NaN
..         ...   ...     ...
995        NaN   NaN     NaN
996        NaN   NaN     NaN
997        NaN   NaN     NaN
998        NaN   NaN     NaN
999        NaN   NaN     NaN

[1000 rows x 3 columns]
predictions_2w(14d).csv Ready!!!